html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    overflow: auto;
    overflow-x: hidden;
    display: block;
    }


body {
    font-family: "Roboto", Sans-serif;
    //background-color: beige;

}

.head {
    background-color: antiquewhite;
    width: 500px;
    padding: 10px 0 0 0;
    font-family: "Comfortaa", cursive;
    margin: auto;
    text-align: center;
}

.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555555;
}

.left {
    float: left;
    color: beige;
}


.head li a {
    transition: background-color 0.5s ease;
    border-right: 1px solid black;
    display: block;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    height: 18px;
}

.head li a:hover {
    background-color: darkslateblue;
}

.active {
    background-color: black;
}

.content {
    //border: 1px solid #555555;
    background-color: antiquewhite;
    color: #555555;
    padding: 1px 10px;
    margin: 20px auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    width: 600px;
    height: auto;
}

.badge a {
    color: black;
	transition: all 0.5s ease;
}

.badge a:link {
    text-decoration: none;
}

.badge a:visited {
    text-decoration: none;
}

.badge a:hover {
    color: darkslateblue;
}

.links ul, .links li {
    list-style-type: none;
    list-style-position: outside;
    margin: 15px 0;
    padding: 0;
    font-size: 0.9em;
}

.links a {
    color: #487da8;
    font-weight:bold;
    text-decoration: none;
}

.links a:link {
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.email {
    padding: 100px;
}